

.navbar-container {
    background-color: #F0F8F8; 
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    font-family: 'Arial', sans-serif;
  }
  
  .navbar-logo {
    height: 50px;
  }
  
  .navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #3C707A; 
    font-size: 1.1em;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-links li a:hover {
    color: #000000; 
  }
  

  body {
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      background-color: #FFFFFF; 
  }
  
  h1 {
      text-align: center;
      margin-top: 40px;
      color: #333;
  }
  
  h2 {
      text-align: center;
      color: #555;
  }